/*Cutomizer CSS*/
#accordion-section-pet_ecommerce_store_pro h3.accordion-section-title,
#customize-controls #accordion-section-pet_ecommerce_store_pro .accordion-section-title button:focus,
#customize-controls #accordion-section-pet_ecommerce_store_pro .accordion-section-title:focus, 
#customize-controls #accordion-section-pet_ecommerce_store_pro .accordion-section-title:hover, 
#customize-controls #accordion-section-pet_ecommerce_store_pro.open .accordion-section-title, 
#customize-controls #accordion-section-pet_ecommerce_store_pro:hover>.accordion-section-title,
#customize-controls #accordion-section-pet_ecommerce_store_pro .accordion-section-title button:hover{
  background: #257FD0;
  color:#fff;
  border-left-color:#257FD0;
  font-size: 12px;
}
#customize-theme-controls #accordion-section-pet_ecommerce_store_pro .accordion-section-title:after{
  color:#fff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.upsell-btn > .btn-success {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.upsell-btn{
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #257FD0;
}
.upsell-btn-bottom{
  margin-top:20px;
}