<!-- wp:template-part {"slug":"header","theme":"pet-ecommerce-store","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px"><!-- wp:pattern {"slug":"pet-ecommerce-store/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"pet-ecommerce-store/product-section"} /-->

<!-- wp:pattern {"slug":"pet-ecommerce-store/about-section"} /-->

<!-- wp:pattern {"slug":"pet-ecommerce-store/testimonial"} /-->

<!-- wp:pattern {"slug":"pet-ecommerce-store/faq-section"} /-->

<!-- wp:pattern {"slug":"pet-ecommerce-store/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"pet-ecommerce-store","tagName":"footer","className":"custom-footer-class"} /-->