<!-- wp:template-part {"slug":"header","theme":"pet-ecommerce-store","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"align":"wide","className":"without-cover-img","style":{"spacing":{"padding":{"top":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide without-cover-img" style="padding-top:60px"><!-- wp:post-title {"textAlign":"center","className":"wow slideInDown","style":{"typography":{"textTransform":"uppercase","letterSpacing":"1px","fontSize":"42px"}},"textColor":"heading"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"60px","right":"20px","bottom":"40px","left":"20px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:60px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-content /--></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pet-ecommerce-store","tagName":"footer","className":"custom-footer-class"} /-->